authority-file/CG 4.00/ICCD_normativa_CG_4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
   <!-- =============== INIZIO ELEMENTI PER LA VALIDAZIONE DEI FILE DI IMPORT/EXPORT ==================-->
   <!-- =============== per validare la singola scheda, eliminare dal file XSD questa parte iniziale racchiusa tra i commenti==================-->
   <xs:element name="schede">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="scheda" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="csm_root">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="csm_info"/>
            <xs:element ref="schede"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="csm_info">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nome_normativa" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="tipo" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="ver_numero" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="data_crea" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="ente_schedatore" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="concessione" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="spedizione" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="note" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="numero_schede" minOccurs="1" maxOccurs="1"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="note">
      <xs:complexType/>
   </xs:element>
   <xs:element name="tipo">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="data_crea">
      <xs:simpleType>
         <xs:restriction base="xs:decimal"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="spedizione">
      <xs:complexType/>
   </xs:element>
   <xs:element name="ver_numero">
      <xs:simpleType>
         <xs:restriction base="xs:decimal"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="concessione">
      <xs:complexType/>
   </xs:element>
   <xs:element name="numero_schede">
      <xs:simpleType>
         <xs:restriction base="xs:decimal"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="nome_normativa">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="ente_schedatore">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <!-- =============== FINE ELEMENTI PER LA VALIDAZIONE DEI FILE DI IMPORT/EXPORT ==================-->
   <xs:element name="scheda" id="tag_normativa">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CD" id="paragrafo_CD" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="TSK" id="camposemplice_CG_CD_TSK" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo scheda"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,4"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_TSK_CG"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="LIR" id="camposemplice_CG_CD_LIR" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Livello"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,1"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_LIR"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CCG" id="camposemplice_CG_CD_CCG" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional"
                                               fixed="Codice contenitore giuridico"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_alternativeMandatory" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_idSpecial" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CCF" id="camposemplice_CG_CD_CCF" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice contenitore fisico"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="linking_sourceType" type="xs:string" use="optional" fixed="CF"/>
                                 <xs:attribute name="linking_sourceVersion" type="xs:string" use="optional" fixed="4.00_ICCD0"/>
                                 <xs:attribute name="linking_importMapping" type="xs:string" use="optional" fixed="CD/CCF"/>
                                 <xs:attribute name="linking_follows" type="xs:string" use="optional" fixed="CD/CCG"/>
                                 <xs:attribute name="linking_followsAsChild" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ESC" id="camposemplice_CG_CD_ESC" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente schedatore"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ACC" id="campostrutturato_CD_ACC" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="ACCE" id="camposemplice_CD_ACC_ACCE" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente/soggetto responsabile"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ACCC" id="camposemplice_CD_ACC_ACCC" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice identificativo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,150"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ACCP" id="camposemplice_CD_ACC_ACCP" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Progetto di riferimento"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ACCS" id="camposemplice_CD_ACC_ACCS" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Note"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="ALTRA IDENTIFICAZIONE"/>
                           <xs:attribute name="node_alternativeMandatory" type="xs:string" use="optional" fixed="1"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ACL" id="camposemplice_CG_CD_ACL" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice ISIL"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,9"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="CODICI"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                  <xs:assert test="CCG[. ne ''] or ACC"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="CG" id="paragrafo_CG" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="LUC" id="camposemplice_CG_CG_LUC" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Luogo della cultura"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional"
                                               fixed="VC_Luogo della cultura"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CGT" id="camposemplice_CG_CG_CGT" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipologia"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional"
                                               fixed="VA_Contenitore giuridico_tipologia"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CGQ" id="camposemplice_CG_CG_CGQ" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Qualificazione"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional"
                                               fixed="VA_Contenitore giuridico_qualificazione"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CGN" id="camposemplice_CG_CG_CGN" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Denominazione raccolta"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CGA" id="camposemplice_CG_CG_CGA" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Altra denominazione"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CGC" id="camposemplice_CG_CG_CGC" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional"
                                               fixed="Complesso giuridico di appartenenza"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CGV" id="camposemplice_CG_CG_CGV" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Indicazioni specifiche"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,500"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CGD" id="camposemplice_CG_CG_CGD" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Descrizione"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,5000"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="NSC" id="camposemplice_CG_CG_NSC" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Notizie storico-critiche"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,5000"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CGE" id="campostrutturato_CG_CGE" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="CGET" id="camposemplice_CG_CGE_CGET" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_CGET_CG"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="CGER" id="camposemplice_CG_CGE_CGER" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Ruolo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VA_CGER_CG"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="CGED" id="camposemplice_CG_CGE_CGED" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Denominazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="ENTE"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="CONTENITORE GIURIDICO"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="LC" id="paragrafo_LC" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="PVC" id="campostrutturato_LC_PVC" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="PVCS" id="camposemplice_LC_PVC_PVCS" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Stato"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                          <xs:attribute name="linking_sourceType" type="xs:string" use="optional" fixed="CF"/>
                                          <xs:attribute name="linking_sourceVersion" type="xs:string" use="optional" fixed="4.00_ICCD0"/>
                                          <xs:attribute name="linking_importMapping" type="xs:string" use="optional"
                                                        fixed="LC/PVC/PVCS"/>
                                          <xs:attribute name="linking_follows" type="xs:string" use="optional" fixed="LC/PVC"/>
                                          <xs:attribute name="linking_followsAsChild" type="xs:string" use="optional" fixed="true"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCR" id="camposemplice_LC_PVC_PVCR" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Regione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$2"/>
                                          <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCS"/>
                                          <xs:attribute name="linking_sourceType" type="xs:string" use="optional" fixed="CF"/>
                                          <xs:attribute name="linking_sourceVersion" type="xs:string" use="optional" fixed="4.00_ICCD0"/>
                                          <xs:attribute name="linking_importMapping" type="xs:string" use="optional"
                                                        fixed="LC/PVC/PVCR"/>
                                          <xs:attribute name="linking_follows" type="xs:string" use="optional" fixed="LC/PVC/PVCS"/>
                                          <xs:attribute name="linking_followsAsChild" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCP" id="camposemplice_LC_PVC_PVCP" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Provincia"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$3"/>
                                          <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCR"/>
                                          <xs:attribute name="linking_sourceType" type="xs:string" use="optional" fixed="CF"/>
                                          <xs:attribute name="linking_sourceVersion" type="xs:string" use="optional" fixed="4.00_ICCD0"/>
                                          <xs:attribute name="linking_importMapping" type="xs:string" use="optional"
                                                        fixed="LC/PVC/PVCP"/>
                                          <xs:attribute name="linking_follows" type="xs:string" use="optional" fixed="LC/PVC/PVCR"/>
                                          <xs:attribute name="linking_followsAsChild" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCC" id="camposemplice_LC_PVC_PVCC" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Comune"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$4"/>
                                          <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCP"/>
                                          <xs:attribute name="linking_sourceType" type="xs:string" use="optional" fixed="CF"/>
                                          <xs:attribute name="linking_sourceVersion" type="xs:string" use="optional" fixed="4.00_ICCD0"/>
                                          <xs:attribute name="linking_importMapping" type="xs:string" use="optional"
                                                        fixed="LC/PVC/PVCC"/>
                                          <xs:attribute name="linking_follows" type="xs:string" use="optional" fixed="LC/PVC/PVCP"/>
                                          <xs:attribute name="linking_followsAsChild" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCE" id="camposemplice_LC_PVC_PVCE" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Località estera"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,500"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="linking_sourceType" type="xs:string" use="optional" fixed="CF"/>
                                          <xs:attribute name="linking_sourceVersion" type="xs:string" use="optional" fixed="4.00_ICCD0"/>
                                          <xs:attribute name="linking_importMapping" type="xs:string" use="optional"
                                                        fixed="LC/PVC/PVCE"/>
                                          <xs:attribute name="linking_follows" type="xs:string" use="optional" fixed="LC/PVC/PVCC"/>
                                          <xs:attribute name="linking_followsAsChild" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="LOCALIZZAZIONE"/>
                           <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="PVE" id="camposemplice_CG_LC_PVE" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Diocesi"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_PVE_PRE"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                 <xs:attribute name="linking_sourceType" type="xs:string" use="optional" fixed="CF"/>
                                 <xs:attribute name="linking_sourceVersion" type="xs:string" use="optional" fixed="4.00_ICCD0"/>
                                 <xs:attribute name="linking_importMapping" type="xs:string" use="optional" fixed="LC/PVE"/>
                                 <xs:attribute name="linking_follows" type="xs:string" use="optional" fixed="LC/PVC"/>
                                 <xs:attribute name="linking_followsAsChild" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional"
                                fixed="LOCALIZZAZIONE GEOGRAFICO-AMMINISTRATIVA"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="DO" id="paragrafo_DO" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="BIB" id="campostrutturato_DO_BIB" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="BIBR" id="camposemplice_DO_BIB_BIBR" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Abbreviazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="BIBM" id="camposemplice_DO_BIB_BIBM" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional"
                                                        fixed="Riferimento bibliografico completo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,1000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="BIBN" id="camposemplice_DO_BIB_BIBN" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Note"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="BIBLIOGRAFIA"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="DOCUMENTAZIONE"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="CM" id="paragrafo_CM" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="CMP" id="campostrutturato_CM_CMP" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="CMPD" id="camposemplice_CM_CMP_CMPD" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Anno di redazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,4"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="regularExpr_pattern" type="xs:string" use="optional" fixed="([0-9]{4})"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="CMPN" id="camposemplice_CM_CMP_CMPN" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional"
                                                        fixed="Responsabile ricerca e redazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional"
                                         fixed="REDAZIONE E VERIFICA SCIENTIFICA"/>
                           <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="RSR" id="camposemplice_CG_CM_RSR" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional"
                                               fixed="Referente verifica scientifica"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="FUR" id="camposemplice_CG_CM_FUR" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Funzionario responsabile"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional"
                                fixed="CERTIFICAZIONE E GESTIONE DEI DATI"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AN" id="paragrafo_AN" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="OSS" id="camposemplice_CG_AN_OSS" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Osservazioni"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,5000"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="ANNOTAZIONI"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
<!--normativa#CG#4.00#ICCD0#Contenitori giuridici#5#null#false#false#null#null#null#false-->