authority-file/AUT 4.00/ICCD_normativa_AUT_4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
   <!-- =============== INIZIO ELEMENTI PER LA VALIDAZIONE DEI FILE DI IMPORT/EXPORT ==================-->
   <!-- =============== per validare la singola scheda, eliminare dal file XSD questa parte iniziale racchiusa tra i commenti==================-->
   <xs:element name="schede">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="scheda" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="csm_root">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="csm_info"/>
            <xs:element ref="schede"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="csm_info">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nome_normativa" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="tipo" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="ver_numero" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="data_crea" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="ente_schedatore" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="concessione" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="spedizione" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="note" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="numero_schede" minOccurs="1" maxOccurs="1"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="note">
      <xs:complexType/>
   </xs:element>
   <xs:element name="tipo">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="data_crea">
      <xs:simpleType>
         <xs:restriction base="xs:decimal"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="spedizione">
      <xs:complexType/>
   </xs:element>
   <xs:element name="ver_numero">
      <xs:simpleType>
         <xs:restriction base="xs:decimal"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="concessione">
      <xs:complexType/>
   </xs:element>
   <xs:element name="numero_schede">
      <xs:simpleType>
         <xs:restriction base="xs:decimal"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="nome_normativa">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="ente_schedatore">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <!-- =============== FINE ELEMENTI PER LA VALIDAZIONE DEI FILE DI IMPORT/EXPORT ==================-->
   <xs:element name="scheda" id="tag_normativa">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CD" id="paragrafo_CD" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="TSK" id="camposemplice_AUT_CD_TSK" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo scheda"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,4"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_TSK_AUT"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="LIR" id="camposemplice_AUT_CD_LIR" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Livello"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,1"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_LIR"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="NCU" id="camposemplice_AUT_CD_NCU" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice univoco ICCD"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,8"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ESC" id="camposemplice_AUT_CD_ESC" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente schedatore"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="CODICI"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AC" id="paragrafo_AC" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ACC" id="campostrutturato_AC_ACC" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="ACCE" id="camposemplice_AC_ACC_ACCE" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente/soggetto responsabile"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ACCC" id="camposemplice_AC_ACC_ACCC" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice identificativo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,150"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ACCP" id="camposemplice_AC_ACC_ACCP" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Progetto di riferimento"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ACCS" id="camposemplice_AC_ACC_ACCS" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Note"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ACCW" id="camposemplice_AC_ACC_ACCW" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Indirizzo web"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,500"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="ALTRO CODICE AUTHORITY"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="ALTRI CODICI"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AU" id="paragrafo_AU" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="AUT" id="campostrutturato_AU_AUT" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="AUTN" id="camposemplice_AU_AUT_AUTN" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional"
                                                        fixed="Nome scelto di persona o ente"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="AUTH" id="camposemplice_AU_AUT_AUTH" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice identificativo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,8"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="node_idSpecial" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="AUTP" id="camposemplice_AU_AUT_AUTP" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo intestazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional"
                                                        fixed="VC_Tipo intestazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="AUTE" id="camposemplice_AU_AUT_AUTE" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Sesso"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,1"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_SESSO"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="AUTA" id="camposemplice_AU_AUT_AUTA" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Indicazioni cronologiche"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="AUTQ" id="camposemplice_AU_AUT_AUTQ" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Qualifica"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VA_AUTQ_AUT"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="AUTF" id="camposemplice_AU_AUT_AUTF" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional"
                                                        fixed="Nazionalità/ambito geografico"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="AUTU" id="camposemplice_AU_AUT_AUTU" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Riferimento culturale"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VA_AUTU_AUT"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="INTESTAZIONE"/>
                           <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="AUV" id="camposemplice_AUT_AU_AUV" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Varianti del nome"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="NSC" id="camposemplice_AUT_AU_NSC" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Notizie storico-critiche"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,5000"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="INTESTAZIONE UNIFORME"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="DO" id="paragrafo_DO" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="BIB" id="campostrutturato_DO_BIB" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="BIBR" id="camposemplice_DO_BIB_BIBR" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Abbreviazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="BIBM" id="camposemplice_DO_BIB_BIBM" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional"
                                                        fixed="Riferimento bibliografico completo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,1000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="BIBN" id="camposemplice_DO_BIB_BIBN" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Note"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="BIBLIOGRAFIA"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="DOCUMENTAZIONE"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AD" id="paragrafo_AD" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ADS" id="campostrutturato_AD_ADS" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="ADSP" id="camposemplice_AD_ADS_ADSP" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Profilo di accesso"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,1"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional"
                                                        fixed="VC_ADS_Authority_4.00"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ADSM" id="camposemplice_AD_ADS_ADSM" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Motivazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional"
                                                        fixed="VC_ADS_Authority_4.00"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$2"/>
                                          <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="AD/ADS/ADSP"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional"
                                         fixed="SPECIFICHE DI ACCESSO AI DATI"/>
                           <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="ACCESSO AI DATI"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="CM" id="paragrafo_CM" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="CMP" id="campostrutturato_CM_CMP" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="CMPD" id="camposemplice_CM_CMP_CMPD" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Anno di redazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,4"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="CMPN" id="camposemplice_CM_CMP_CMPN" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional"
                                                        fixed="Responsabile ricerca e redazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional"
                                         fixed="REDAZIONE E VERIFICA SCIENTIFICA"/>
                           <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="RSR" id="camposemplice_AUT_CM_RSR" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional"
                                               fixed="Referente verifica scientifica"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="FUR" id="camposemplice_AUT_CM_FUR" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Funzionario responsabile"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional"
                                fixed="CERTIFICAZIONE E GESTIONE DEI DATI"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AN" id="paragrafo_AN" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="OSS" id="camposemplice_AUT_AN_OSS" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Osservazioni"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,5000"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="ANNOTAZIONI"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
<!--normativa#AUT#4.00#ICCD0#Archivio controllato dei nomi: persone e enti#1#null#false#false#AD/ADS/ADSP#null#null#false-->