authority-file/RCG 4.00/ICCD_normativa_RCG_4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
   <!-- =============== INIZIO ELEMENTI PER LA VALIDAZIONE DEI FILE DI IMPORT/EXPORT ==================-->
   <!-- =============== per validare la singola scheda, eliminare dal file XSD questa parte iniziale racchiusa tra i commenti==================-->
   <xs:element name="schede">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="scheda" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="csm_root">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="csm_info"/>
            <xs:element ref="schede"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="csm_info">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nome_normativa" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="tipo" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="ver_numero" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="data_crea" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="ente_schedatore" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="concessione" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="spedizione" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="note" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="numero_schede" minOccurs="1" maxOccurs="1"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="note">
      <xs:complexType/>
   </xs:element>
   <xs:element name="tipo">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="data_crea">
      <xs:simpleType>
         <xs:restriction base="xs:decimal"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="spedizione">
      <xs:complexType/>
   </xs:element>
   <xs:element name="ver_numero">
      <xs:simpleType>
         <xs:restriction base="xs:decimal"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="concessione">
      <xs:complexType/>
   </xs:element>
   <xs:element name="numero_schede">
      <xs:simpleType>
         <xs:restriction base="xs:decimal"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="nome_normativa">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="ente_schedatore">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <!-- =============== FINE ELEMENTI PER LA VALIDAZIONE DEI FILE DI IMPORT/EXPORT ==================-->
   <xs:element name="scheda" id="tag_normativa">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CD" id="paragrafo_CD" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="TSK" id="camposemplice_RCG_CD_TSK" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo scheda"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,4"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_TSK_RCG"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="LIR" id="camposemplice_RCG_CD_LIR" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Livello"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,1"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_LIR"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="NCU" id="camposemplice_RCG_CD_NCU" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice univoco ICCD"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,8"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ESC" id="camposemplice_RCG_CD_ESC" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente schedatore"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="CODICI"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AC" id="paragrafo_AC" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ACC" id="campostrutturato_AC_ACC" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="ACCE" id="camposemplice_AC_ACC_ACCE" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente/soggetto responsabile"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ACCC" id="camposemplice_AC_ACC_ACCC" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice identificativo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,150"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ACCP" id="camposemplice_AC_ACC_ACCP" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Progetto di riferimento"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ACCS" id="camposemplice_AC_ACC_ACCS" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Note"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ACCW" id="camposemplice_AC_ACC_ACCW" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Indirizzo web"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,500"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="ALTRO CODICE AUTHORITY"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="ALTRI CODICI"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="RG" id="paragrafo_RG" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="RCG" id="campostrutturato_RG_RCG" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="RCGV" id="camposemplice_RG_RCG_RCGV" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Denominazione ricognizione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="RCGH" id="camposemplice_RG_RCG_RCGH" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice identificativo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,8"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="node_idSpecial" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="RCGD" id="camposemplice_RG_RCG_RCGD" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Riferimento cronologico"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="RCGE" id="camposemplice_RG_RCG_RCGE" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Motivo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional"
                                                        fixed="VA_MOTIVO INDAGINI"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="RCGM" id="camposemplice_RG_RCG_RCGM" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Metodo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VA_RCGM"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="RCGR" id="camposemplice_RG_RCG_RCGR" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente responsabile"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="RCGF" id="camposemplice_RG_RCG_RCGF" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente finanziatore/sponsor"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="RCGA" id="camposemplice_RG_RCG_RCGA" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Responsabile scientifico"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="RICOGNIZIONE ARCHEOLOGICA"/>
                           <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="NSC" id="camposemplice_RCG_RG_NSC" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Notizie storico-critiche"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,5000"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="RICOGNIZIONE ARCHEOLOGICA"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="LC" id="paragrafo_LC" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="PVC" id="campostrutturato_LC_PVC" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="PVCS" id="camposemplice_LC_PVC_PVCS" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Stato"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_geo" type="xs:string" use="optional" fixed="0"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCR" id="camposemplice_LC_PVC_PVCR" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Regione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
                                          <xs:attribute name="node_geo" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$2"/>
                                          <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCS"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCP" id="camposemplice_LC_PVC_PVCP" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Provincia"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2"/>
                                          <xs:attribute name="node_geo" type="xs:string" use="optional" fixed="2"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$3"/>
                                          <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCR"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCC" id="camposemplice_LC_PVC_PVCC" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Comune"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_geo" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$4"/>
                                          <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCP"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCL" id="camposemplice_LC_PVC_PVCL" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Località"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_geo" type="xs:string" use="optional" fixed="5"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$5"/>
                                          <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCC"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCE" id="camposemplice_LC_PVC_PVCE" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Località estera"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,500"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCI" id="camposemplice_LC_PVC_PVCI" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Indirizzo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_geo" type="xs:string" use="optional" fixed="6"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCV" id="camposemplice_LC_PVC_PVCV" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Altri percorsi/specifiche"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="LOCALIZZAZIONE"/>
                           <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="PVL" id="camposemplice_RCG_LC_PVL" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Altro toponimo"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="PVZ" id="camposemplice_RCG_LC_PVZ" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo di contesto"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_PVZ_PRZ"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional"
                                fixed="LOCALIZZAZIONE GEOGRAFICO - AMMINISTRATIVA"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="GE" id="paragrafo_GE" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="GEL" id="camposemplice_RCG_GE_GEL" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo di localizzazione"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GEL"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="GET" id="camposemplice_RCG_GE_GET" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo di georeferenziazione"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GET"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="GEP" id="camposemplice_RCG_GE_GEP" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Sistema di riferimento"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GEP"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="GEC" id="campostrutturato_GE_GEC" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="GECX" id="camposemplice_GE_GEC_GECX" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Coordinata x"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="GECY" id="camposemplice_GE_GEC_GECY" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Coordinata y"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="GECZ" id="camposemplice_GE_GEC_GECZ" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Coordinata z"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="GECS" id="camposemplice_GE_GEC_GECS" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Note"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="COORDINATE"/>
                           <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="GPT" id="camposemplice_RCG_GE_GPT" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional"
                                               fixed="Tecnica di georeferenziazione"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GPT"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="GPM" id="camposemplice_RCG_GE_GPM" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Metodo di posizionamento"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GPM"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="GPB" id="campostrutturato_GE_GPB" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="GPBB" id="camposemplice_GE_GPB_GPBB" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Descrizione sintetica"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,500"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="GPBT" id="camposemplice_GE_GPB_GPBT" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Data"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="GPBU" id="camposemplice_GE_GPB_GPBU" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Indirizzo web (URL)"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,1000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="GPBO" id="camposemplice_GE_GPB_GPBO" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Note"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="BASE CARTOGRAFICA"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="GEOREFERENZIAZIONE"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="DO" id="paragrafo_DO" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="BIB" id="campostrutturato_DO_BIB" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="BIBR" id="camposemplice_DO_BIB_BIBR" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Abbreviazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="BIBM" id="camposemplice_DO_BIB_BIBM" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional"
                                                        fixed="Riferimento bibliografico completo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,1000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="BIBN" id="camposemplice_DO_BIB_BIBN" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Note"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="BIBLIOGRAFIA"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="DOCUMENTAZIONE"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AD" id="paragrafo_AD" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ADS" id="campostrutturato_AD_ADS" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="ADSP" id="camposemplice_AD_ADS_ADSP" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Profilo di accesso"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,1"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional"
                                                        fixed="VC_ADS_Authority_4.00"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ADSM" id="camposemplice_AD_ADS_ADSM" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Motivazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional"
                                                        fixed="VC_ADS_Authority_4.00"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$2"/>
                                          <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="AD/ADS/ADSP"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional"
                                         fixed="SPECIFICHE DI ACCESSO AI DATI"/>
                           <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="ACCESSO AI DATI"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="CM" id="paragrafo_CM" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="CMP" id="campostrutturato_CM_CMP" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="CMPD" id="camposemplice_CM_CMP_CMPD" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Anno di redazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,4"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="CMPN" id="camposemplice_CM_CMP_CMPN" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional"
                                                        fixed="Responsabile ricerca e redazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional"
                                         fixed="REDAZIONE E VERIFICA SCIENTIFICA"/>
                           <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="RSR" id="camposemplice_RCG_CM_RSR" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional"
                                               fixed="Referente verifica scientifica"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="FUR" id="camposemplice_RCG_CM_FUR" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Funzionario responsabile"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional"
                                fixed="CERTIFICAZIONE E GESTIONE DEI DATI"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AN" id="paragrafo_AN" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="OSS" id="camposemplice_RCG_AN_OSS" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Osservazioni"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,5000"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="ANNOTAZIONI"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
<!--normativa#RCG#4.00#ICCD0#Ricognizioni archeologiche#1#null#false#false#AD/ADS/ADSP#null#null#false-->