authority-file/RCG 3.00/ICCD_normativa_RCG_3.00_062018.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<!-- =============== INIZIO ELEMENTI PER LA VALIDAZIONE DEI FILE DI IMPORT/EXPORT ==================-->
	<!-- =============== per validare la singola scheda, eliminare dal file XSD questa parte iniziale racchiusa tra i commenti==================-->
	<xs:element name="schede">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="scheda" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="csm_root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="csm_info"/>
				<xs:element ref="schede"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="csm_info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nome_normativa" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="tipo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ver_numero" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="data_crea" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ente_schedatore" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="concessione" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="spedizione" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="note" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="numero_schede" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="note">
		<xs:complexType/>
	</xs:element>
	<xs:element name="tipo">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="data_crea">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="spedizione">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ver_numero">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="concessione">
		<xs:complexType/>
	</xs:element>
	<xs:element name="numero_schede">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nome_normativa">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ente_schedatore">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<!-- =============== FINE ELEMENTI PER LA VALIDAZIONE DEI FILE DI IMPORT/EXPORT ==================-->
	<xs:element name="scheda" id="tag_normativa">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CD" id="paragrafo_CD" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TSK" id="camposemplice_RCG_CD_TSK" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo scheda"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,5"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
											<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
											<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_TSK_RCG"/>
											<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="NCU" id="campostrutturato_CD_NCU" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NCUN" id="camposemplice_CD_NCU_NCUN" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice univoco ICCD"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,8"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="CODICE UNIVOCO ICCD"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="ESC" id="camposemplice_RCG_CD_ESC" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente schedatore"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
											<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="ECP" id="camposemplice_RCG_CD_ECP" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente competente"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="alias" type="xs:string" use="optional" fixed="CODICI"/>
						<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
						<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="LC" id="paragrafo_LC" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PVC" id="campostrutturato_LC_PVC" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PVCS" id="camposemplice_LC_PVC_PVCS" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Stato"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
														<xs:attribute name="node_geo" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
														<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
														<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="PVCR" id="camposemplice_LC_PVC_PVCR" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Regione"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
														<xs:attribute name="node_geo" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
														<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
														<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$2"/>
														<xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCS"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="PVCP" id="camposemplice_LC_PVC_PVCP" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Provincia"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,3"/>
														<xs:attribute name="node_geo" type="xs:string" use="optional" fixed="2"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
														<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
														<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$3"/>
														<xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCR"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="PVCC" id="camposemplice_LC_PVC_PVCC" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Comune"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
														<xs:attribute name="node_geo" type="xs:string" use="optional" fixed="3"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
														<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
														<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$4"/>
														<xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCP"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="PVCL" id="camposemplice_LC_PVC_PVCL" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Località"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
														<xs:attribute name="node_geo" type="xs:string" use="optional" fixed="5"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
														<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
														<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$5"/>
														<xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCC"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="LOCALIZZAZIONE GEOGRAFICO-AMMINISTRATIVA"/>
									<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="alias" type="xs:string" use="optional" fixed="LOCALIZZAZIONE GEOGRAFICO-AMMINISTRATIVA"/>
						<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="CS" id="paragrafo_CS" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CTL" id="camposemplice_RCG_CS_CTL" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo di localizzazione"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,40"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
											<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
											<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_CTL_RCG"/>
											<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="CTS" id="campostrutturato_CS_CTS" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CTSC" id="camposemplice_CS_CTS_CTSC" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Comune"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="CTSF" id="camposemplice_CS_CTS_CTSF" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Foglio/Data"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="CTSN" id="camposemplice_CS_CTS_CTSN" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Particelle"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,500"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="true"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="CTSP" id="camposemplice_CS_CTS_CTSP" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Proprietari"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,500"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="true"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="CTSE" id="camposemplice_CS_CTS_CTSE" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Particelle ed altri elementi di confine"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,1000"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="LOCALIZZAZIONE CATASTALE"/>
									<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="alias" type="xs:string" use="optional" fixed="LOCALIZZAZIONE CATASTALE"/>
						<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="GP" id="paragrafo_GP" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GPL" id="camposemplice_RCG_GP_GPL" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo di localizzazione"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,40"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
											<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
											<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GPL_GAL_RCG"/>
											<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="GPD" id="campostrutturato_GP_GPD" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="GPDP" id="campostrutturato_GP_GPD_GPDP" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="GPDPX" id="camposemplice_GP_GPD_GPDP_GPDPX" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="alias" type="xs:string" use="optional" fixed="Coordinata X"/>
																	<xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
																	<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
																	<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
																	<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="true"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="GPDPY" id="camposemplice_GP_GPD_GPDP_GPDPY" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="alias" type="xs:string" use="optional" fixed="Coordinata Y"/>
																	<xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
																	<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
																	<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
																	<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="true"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="alias" type="xs:string" use="optional" fixed="PUNTO"/>
												<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
												<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="DESCRIZIONE DEL PUNTO"/>
									<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="GPC" id="campostrutturato_GP_GPC" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="GPCT" id="camposemplice_GP_GPC_GPCT" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="GPCL" id="camposemplice_GP_GPC_GPCL" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Quota s.l.m."/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="GPCI" id="camposemplice_GP_GPC_GPCI" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Quota minima s.l.m. dell'area rappresentata dal punto"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="GPCS" id="camposemplice_GP_GPC_GPCS" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Quota massima s.l.m. dell'area rappresentata dal punto"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="CARATTERISTICHE DEL PUNTO"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="GPM" id="camposemplice_RCG_GP_GPM" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Metodo di georeferenziazione"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
											<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
											<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GPM_3.00"/>
											<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="GPT" id="camposemplice_RCG_GP_GPT" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Tecnica di georeferenziazione"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
											<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
											<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GPT_GLT_GAT"/>
											<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="GPP" id="camposemplice_RCG_GP_GPP" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Proiezione e Sistema di riferimento"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
											<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
											<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GPP_GLP_GAP"/>
											<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="GPB" id="campostrutturato_GP_GPB" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="GPBB" id="camposemplice_GP_GPB_GPBB" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Descrizione sintetica"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,20"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="GPBT" id="camposemplice_GP_GPB_GPBT" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Data"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,10"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="GPBO" id="camposemplice_GP_GPB_GPBO" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Note"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="BASE DI RIFERIMENTO"/>
									<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="alias" type="xs:string" use="optional" fixed="GEOREFERENZIAZIONE TRAMITE PUNTO"/>
						<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="GA" id="paragrafo_GA" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GAL" id="camposemplice_RCG_GA_GAL" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo di localizzazione"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,40"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
											<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
											<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GPL_GAL_RCG"/>
											<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="GAD" id="campostrutturato_GA_GAD" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="GADP" id="campostrutturato_GA_GAD_GADP" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="GADPX" id="camposemplice_GA_GAD_GADP_GADPX" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="alias" type="xs:string" use="optional" fixed="Coordinata X"/>
																	<xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
																	<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
																	<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
																	<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="true"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="GADPY" id="camposemplice_GA_GAD_GADP_GADPY" minOccurs="1" maxOccurs="1">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string">
																	<xs:attribute name="alias" type="xs:string" use="optional" fixed="Coordinata Y"/>
																	<xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
																	<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
																	<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
																	<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="true"/>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="alias" type="xs:string" use="optional" fixed="PUNTO DEL POLIGONO"/>
												<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
												<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="DESCRIZIONE DEL POLIGONO"/>
									<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="GAQ" id="campostrutturato_GA_GAQ" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="GAQI" id="camposemplice_GA_GAQ_GAQI" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Quota minima s.l.m."/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="GAQS" id="camposemplice_GA_GAQ_GAQS" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Quota massima s.l.m."/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="ALTIMETRIA DELL'AREA"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="GAM" id="camposemplice_RCG_GA_GAM" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Metodo di georeferenziazione"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
											<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
											<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GAM_3.00_"/>
											<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="GAT" id="camposemplice_RCG_GA_GAT" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Tecnica di georeferenziazione"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
											<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
											<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GPT_GLT_GAT"/>
											<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="GAP" id="camposemplice_RCG_GA_GAP" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Proiezione e Sistema di riferimento"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
											<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
											<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GPP_GLP_GAP"/>
											<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="GAB" id="campostrutturato_GA_GAB" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="GABB" id="camposemplice_GA_GAB_GABB" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Descrizione sintetica"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,20"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="GABT" id="camposemplice_GA_GAB_GABT" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Data"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,10"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="GABO" id="camposemplice_GA_GAB_GABO" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Note"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="0"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="BASE DI RIFERIMENTO"/>
									<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="alias" type="xs:string" use="optional" fixed="GEOREFERENZIAZIONE TRAMITE AREA"/>
						<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="RG" id="paragrafo_RG" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RCG" id="campostrutturato_RG_RCG" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RCGR" id="camposemplice_RG_RCG_RCGR" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente responsabile"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="RCGF" id="camposemplice_RG_RCG_RCGF" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente finanziatore"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="RCGA" id="camposemplice_RG_RCG_RCGA" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Responsabile scientifico"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="RCGE" id="camposemplice_RG_RCG_RCGE" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Motivo"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
														<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VA_RCGE"/>
														<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="RCGM" id="camposemplice_RG_RCG_RCGM" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Metodo"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
														<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VA_RCGM"/>
														<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="RCGD" id="camposemplice_RG_RCG_RCGD" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Data"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="RCGB" id="camposemplice_RG_RCG_RCGB" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Bibliografia"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,1000"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="RCGH" id="camposemplice_RG_RCG_RCGH" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Sigla per citazione"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,8"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_idSpecial" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="RICOGNIZIONE"/>
									<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="NSC" id="camposemplice_RCG_RG_NSC" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Notizie storico-critiche"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,5000"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="alias" type="xs:string" use="optional" fixed="DATI SULLA RICOGNIZIONE"/>
						<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
						<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="CM" id="paragrafo_CM" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CMP" id="campostrutturato_CM_CMP" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CMPD" id="camposemplice_CM_CMP_CMPD" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Data"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,4"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
														<xs:attribute name="regularExpr_pattern" type="xs:string" use="optional" fixed="([0-9]{4})"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="CMPN" id="camposemplice_CM_CMP_CMPN" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Nome"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="COMPILAZIONE"/>
									<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="RSR" id="camposemplice_RCG_CM_RSR" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Referente scientifico"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="FUR" id="camposemplice_RCG_CM_FUR" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Funzionario responsabile"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
											<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="AGG" id="campostrutturato_CM_AGG" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AGGD" id="camposemplice_CM_AGG_AGGD" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Data"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,4"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
														<xs:attribute name="regularExpr_pattern" type="xs:string" use="optional" fixed="([0-9]{4})"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AGGN" id="camposemplice_CM_AGG_AGGN" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Nome"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AGGE" id="camposemplice_CM_AGG_AGGE" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AGGR" id="camposemplice_CM_AGG_AGGR" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Referente scientifico"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AGGF" id="camposemplice_CM_AGG_AGGF" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Funzionario responsabile"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="AGGIORNAMENTO - REVISIONE"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="alias" type="xs:string" use="optional" fixed="COMPILAZIONE"/>
						<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
						<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="AN" id="paragrafo_AN" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OSS" id="camposemplice_RCG_AN_OSS" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Osservazioni"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,5000"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="alias" type="xs:string" use="optional" fixed="ANNOTAZIONI"/>
						<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
<!--normativa#RCG#3.00#ICCD0#Ricognizione#1#null#false#false#null#null#null#true-->
