authority-file/AUT 3.00/ICCD_normativa_AUT_3.00_062018.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<!-- =============== INIZIO ELEMENTI PER LA VALIDAZIONE DEI FILE DI IMPORT/EXPORT ==================-->
	<!-- =============== per validare la singola scheda, eliminare dal file XSD questa parte iniziale racchiusa tra i commenti==================-->
	<xs:element name="schede">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="scheda" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="csm_root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="csm_info" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="schede" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="csm_info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nome_normativa" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="tipo" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ver_numero" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="data_crea" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="ente_schedatore" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="concessione" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="spedizione" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="note" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="numero_schede" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="note">
		<xs:complexType/>
	</xs:element>
	<xs:element name="tipo">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="data_crea">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="spedizione">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ver_numero">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="concessione">
		<xs:complexType/>
	</xs:element>
	<xs:element name="numero_schede">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nome_normativa">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ente_schedatore">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<!-- =============== FINE ELEMENTI PER LA VALIDAZIONE DEI FILE DI IMPORT/EXPORT ==================-->
	<xs:element name="scheda" id="tag_normativa">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CD" id="paragrafo_CD" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TSK" id="camposemplice_AUT_CD_TSK" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo scheda"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,5"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
											<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
											<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_TSK_AUT"/>
											<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="NCU" id="campostrutturato_CD_NCU" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NCUN" id="camposemplice_CD_NCU_NCUN" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice univoco ICCD"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,8"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="CODICE UNIVOCO ICCD"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="ESC" id="camposemplice_AUT_CD_ESC" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente schedatore"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
											<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="ECP" id="camposemplice_AUT_CD_ECP" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente competente"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="alias" type="xs:string" use="optional" fixed="CODICI"/>
						<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
						<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="AU" id="paragrafo_AU" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AUT" id="campostrutturato_AU_AUT" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AUTN" id="camposemplice_AU_AUT_AUTN" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Nome scelto"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTA" id="camposemplice_AU_AUT_AUTA" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Dati anagrafici"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTC" id="camposemplice_AU_AUT_AUTC" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Cognome"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTO" id="camposemplice_AU_AUT_AUTO" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Nome"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTP" id="camposemplice_AU_AUT_AUTP" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Pseudonimo"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTE" id="camposemplice_AU_AUT_AUTE" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Nome convenzionale"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTF" id="camposemplice_AU_AUT_AUTF" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Monogramma, firma"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTV" id="camposemplice_AU_AUT_AUTV" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Varianti"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,350"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTZ" id="camposemplice_AU_AUT_AUTZ" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Sesso"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,1"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
														<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_AUTZ_AUT"/>
														<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTL" id="camposemplice_AU_AUT_AUTL" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Luogo di nascita"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTD" id="camposemplice_AU_AUT_AUTD" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Data di nascita"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTX" id="camposemplice_AU_AUT_AUTX" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Luogo di morte"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTT" id="camposemplice_AU_AUT_AUTT" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Data di morte"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTG" id="camposemplice_AU_AUT_AUTG" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Luogo e/o periodo di attività"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTU" id="camposemplice_AU_AUT_AUTU" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Scuola di appartenenza"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,350"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
														<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VA_AUTU_AUT"/>
														<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTQ" id="camposemplice_AU_AUT_AUTQ" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Qualifica"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
														<xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VA_AUTQ_AUT"/>
														<xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$*"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AUTH" id="camposemplice_AU_AUT_AUTH" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Sigla per citazione"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,8"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="node_idSpecial" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="AUTORE"/>
									<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="alias" type="xs:string" use="optional" fixed="AUTORE"/>
						<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
						<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="CM" id="paragrafo_CM" minOccurs="1" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CMP" id="campostrutturato_CM_CMP" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CMPD" id="camposemplice_CM_CMP_CMPD" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Data"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,4"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
														<xs:attribute name="regularExpr_pattern" type="xs:string" use="optional" fixed="([0-9]{4})"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="CMPN" id="camposemplice_CM_CMP_CMPN" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Nome"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="COMPILAZIONE"/>
									<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="RSR" id="camposemplice_AUT_CM_RSR" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Referente scientifico"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="FUR" id="camposemplice_AUT_CM_FUR" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Funzionario responsabile"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
											<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="AGG" id="campostrutturato_CM_AGG" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AGGD" id="camposemplice_CM_AGG_AGGD" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Data"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,4"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
														<xs:attribute name="regularExpr_pattern" type="xs:string" use="optional" fixed="([0-9]{4})"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AGGN" id="camposemplice_CM_AGG_AGGN" minOccurs="1" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Nome"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AGGE" id="camposemplice_CM_AGG_AGGE" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AGGR" id="camposemplice_CM_AGG_AGGR" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Referente scientifico"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="AGGF" id="camposemplice_CM_AGG_AGGF" minOccurs="1" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="alias" type="xs:string" use="optional" fixed="Funzionario responsabile"/>
														<xs:attribute name="len" type="xs:string" use="optional" fixed="0,70"/>
														<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
														<xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
														<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="alias" type="xs:string" use="optional" fixed="AGGIORNAMENTO - REVISIONE"/>
									<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="alias" type="xs:string" use="optional" fixed="COMPILAZIONE"/>
						<xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
						<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="AN" id="paragrafo_AN" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OSS" id="camposemplice_AUT_AN_OSS" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="alias" type="xs:string" use="optional" fixed="Osservazioni"/>
											<xs:attribute name="len" type="xs:string" use="optional" fixed="0,5000"/>
											<xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
											<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="alias" type="xs:string" use="optional" fixed="ANNOTAZIONI"/>
						<xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
<!--normativa#AUT#3.00#ICCD0#Autore#1#null#false#false#null#null#null#true-->
