contenitori/CF 4.00/ICCD_normativa_CF_4.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
   <!-- =============== INIZIO ELEMENTI PER LA VALIDAZIONE DEI FILE DI IMPORT/EXPORT ==================-->
   <!-- =============== per validare la singola scheda, eliminare dal file XSD questa parte iniziale racchiusa tra i commenti==================-->
   <xs:element name="schede">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="scheda" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="csm_root">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="csm_info"/>
            <xs:element ref="schede"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="csm_info">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="nome_normativa" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="tipo" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="ver_numero" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="data_crea" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="ente_schedatore" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="concessione" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="spedizione" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="note" minOccurs="1" maxOccurs="1"/>
            <xs:element ref="numero_schede" minOccurs="1" maxOccurs="1"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="note">
      <xs:complexType/>
   </xs:element>
   <xs:element name="tipo">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="data_crea">
      <xs:simpleType>
         <xs:restriction base="xs:decimal"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="spedizione">
      <xs:complexType/>
   </xs:element>
   <xs:element name="ver_numero">
      <xs:simpleType>
         <xs:restriction base="xs:decimal"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="concessione">
      <xs:complexType/>
   </xs:element>
   <xs:element name="numero_schede">
      <xs:simpleType>
         <xs:restriction base="xs:decimal"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="nome_normativa">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <xs:element name="ente_schedatore">
      <xs:simpleType>
         <xs:restriction base="xs:string"/>
      </xs:simpleType>
   </xs:element>
   <!-- =============== FINE ELEMENTI PER LA VALIDAZIONE DEI FILE DI IMPORT/EXPORT ==================-->
   <xs:element name="scheda" id="tag_normativa">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CD" id="paragrafo_CD" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="TSK" id="camposemplice_CF_CD_TSK" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo scheda"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,4"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_TSK_CF"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="LIR" id="camposemplice_CF_CD_LIR" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Livello"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,1"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_LIR"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CCF" id="camposemplice_CF_CD_CCF" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice contenitore fisico"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_alternativeMandatory" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_idSpecial" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ESC" id="camposemplice_CF_CD_ESC" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente schedatore"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CBC" id="camposemplice_CF_CD_CBC" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional"
                                               fixed="Identificativo scheda bene culturale"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,40"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ACC" id="campostrutturato_CD_ACC" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="ACCE" id="camposemplice_CD_ACC_ACCE" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Ente/soggetto responsabile"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ACCC" id="camposemplice_CD_ACC_ACCC" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice identificativo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,150"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ACCP" id="camposemplice_CD_ACC_ACCP" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Progetto di riferimento"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ACCS" id="camposemplice_CD_ACC_ACCS" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Note"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="ALTRA IDENTIFICAZIONE"/>
                           <xs:attribute name="node_alternativeMandatory" type="xs:string" use="optional" fixed="1"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="ACL" id="camposemplice_CF_CD_ACL" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice ISIL"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,9"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="CODICI"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                  <xs:assert test="CCF[. ne ''] or ACC"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="CF" id="paragrafo_CF" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="LUC" id="camposemplice_CF_CF_LUC" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Luogo della cultura"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional"
                                               fixed="VC_Luogo della cultura"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CFT" id="camposemplice_CF_CF_CFT" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipologia"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional"
                                               fixed="VA_Contenitore fisico"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CFQ" id="camposemplice_CF_CF_CFQ" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Qualificazione"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional"
                                               fixed="VA_Contenitore fisico"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$2"/>
                                 <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="CF/CFT"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CFN" id="camposemplice_CF_CF_CFN" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Denominazione attuale"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CFA" id="camposemplice_CF_CF_CFA" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Altra denominazione"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CFC" id="camposemplice_CF_CF_CFC" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Complesso di appartenenza"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CFU" id="camposemplice_CF_CF_CFU" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Uso"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VA_LDCF_PRCF"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CFD" id="camposemplice_CF_CF_CFD" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Descrizione"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,5000"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CFG" id="camposemplice_CF_CF_CFG" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Condizione giuridica"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_CDGG"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CFW" id="camposemplice_CF_CF_CFW" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Sito web"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,500"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="CONTENITORE FISICO"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="LC" id="paragrafo_LC" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="PVC" id="campostrutturato_LC_PVC" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="PVCS" id="camposemplice_LC_PVC_PVCS" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Stato"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_geo" type="xs:string" use="optional" fixed="0"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCR" id="camposemplice_LC_PVC_PVCR" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Regione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
                                          <xs:attribute name="node_geo" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_alternativeMandatory" type="xs:string" use="optional" fixed="2"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$2"/>
                                          <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCS"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCP" id="camposemplice_LC_PVC_PVCP" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Provincia"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2"/>
                                          <xs:attribute name="node_geo" type="xs:string" use="optional" fixed="2"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_alternativeMandatory" type="xs:string" use="optional" fixed="2"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$3"/>
                                          <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCR"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCC" id="camposemplice_LC_PVC_PVCC" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Comune"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_geo" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_alternativeMandatory" type="xs:string" use="optional" fixed="2"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$4"/>
                                          <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCP"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCL" id="camposemplice_LC_PVC_PVCL" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Località"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_Localizzazione"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$5"/>
                                          <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="LC/PVC/PVCC"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCE" id="camposemplice_LC_PVC_PVCE" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Località estera"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,500"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="node_alternativeMandatory" type="xs:string" use="optional" fixed="2"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCI" id="camposemplice_LC_PVC_PVCI" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Indirizzo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_geo" type="xs:string" use="optional" fixed="6"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="node_alternativeMandatory" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="PVCV" id="camposemplice_LC_PVC_PVCV" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Altri percorsi/specifiche"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="node_alternativeMandatory" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="LOCALIZZAZIONE"/>
                           <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                           <xs:assert test="PVCR[. ne ''] or PVCP[. ne ''] or PVCC[. ne ''] or PVCE[. ne '']"/>
                           <xs:assert test="PVCI[. ne ''] or PVCV[. ne '']"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="PVL" id="camposemplice_CF_LC_PVL" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Altro toponimo"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="PVE" id="camposemplice_CF_LC_PVE" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Diocesi"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_PVE_PRE"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="PVZ" id="camposemplice_CF_LC_PVZ" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo di contesto"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_PVZ_PRZ"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional"
                                fixed="LOCALIZZAZIONE GEOGRAFICO - AMMINISTRATIVA"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="GE" id="paragrafo_GE" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="GEL" id="camposemplice_CF_GE_GEL" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo di localizzazione"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                 <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GEL_CF"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="GET" id="camposemplice_CF_GE_GET" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo di georeferenziazione"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                 <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GET"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="GEP" id="camposemplice_CF_GE_GEP" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Sistema di riferimento"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                 <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GEP"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="GEC" id="campostrutturato_GE_GEC" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="GECX" id="camposemplice_GE_GEC_GECX" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Coordinata x"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="GECY" id="camposemplice_GE_GEC_GECY" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Coordinata y"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="GECZ" id="camposemplice_GE_GEC_GECZ" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Coordinata z"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,12"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="GECS" id="camposemplice_GE_GEC_GECS" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Note"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="COORDINATE"/>
                           <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="GPT" id="camposemplice_CF_GE_GPT" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional"
                                               fixed="Tecnica di georeferenziazione"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                 <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GPT"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="GPM" id="camposemplice_CF_GE_GPM" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Metodo di posizionamento"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                 <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                 <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_GPM"/>
                                 <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="GPB" id="campostrutturato_GE_GPB" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="GPBB" id="camposemplice_GE_GPB_GPBB" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Descrizione sintetica"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,500"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="GPBT" id="camposemplice_GE_GPB_GPBT" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Data"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="GPBU" id="camposemplice_GE_GPB_GPBU" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Indirizzo web (URL)"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,1000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="GPBO" id="camposemplice_GE_GPB_GPBO" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Note"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="3"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="BASE CARTOGRAFICA"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="GEOREFERENZIAZIONE"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="DO" id="paragrafo_DO" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="FTA" id="campostrutturato_DO_FTA" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="FTAN" id="camposemplice_DO_FTA_FTAN" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Codice identificativo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,25"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="2"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="linking_sourceType" type="xs:string" use="optional" fixed="IMR"/>
                                          <xs:attribute name="linking_sourceVersion" type="xs:string" use="optional" fixed="4.00_ICCD0"/>
                                          <xs:attribute name="linking_importMapping" type="xs:string" use="optional"
                                                        fixed="MC/FTA/FTAN"/>
                                          <xs:attribute name="linking_follows" type="xs:string" use="optional" fixed="DO/FTA"/>
                                          <xs:attribute name="linking_followsAsChild" type="xs:string" use="optional" fixed="true"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="FTAX" id="camposemplice_DO_FTA_FTAX" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Genere"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,50"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_FTAX"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="FTAP" id="camposemplice_DO_FTA_FTAP" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Tipo"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,100"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_contextMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VA_FTAP"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                          <xs:attribute name="linking_sourceType" type="xs:string" use="optional" fixed="IMR"/>
                                          <xs:attribute name="linking_sourceVersion" type="xs:string" use="optional" fixed="4.00_ICCD0"/>
                                          <xs:attribute name="linking_importMapping" type="xs:string" use="optional"
                                                        fixed="MC/FTA/FTAP"/>
                                          <xs:attribute name="linking_follows" type="xs:string" use="optional" fixed="DO/FTA/FTAX"/>
                                          <xs:attribute name="linking_followsAsChild" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="FTAK" id="camposemplice_DO_FTA_FTAK" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Nome file digitale"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="2"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="linking_sourceType" type="xs:string" use="optional" fixed="IMR"/>
                                          <xs:attribute name="linking_sourceVersion" type="xs:string" use="optional" fixed="4.00_ICCD0"/>
                                          <xs:attribute name="linking_importMapping" type="xs:string" use="optional"
                                                        fixed="MM/MMT/MMTO"/>
                                          <xs:attribute name="linking_follows" type="xs:string" use="optional" fixed="DO/FTA/FTAP"/>
                                          <xs:attribute name="linking_followsAsChild" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="FTAT" id="camposemplice_DO_FTA_FTAT" minOccurs="0" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Note"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,2000"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="2"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="linking_sourceType" type="xs:string" use="optional" fixed="IMR"/>
                                          <xs:attribute name="linking_sourceVersion" type="xs:string" use="optional" fixed="4.00_ICCD0"/>
                                          <xs:attribute name="linking_importMapping" type="xs:string" use="optional"
                                                        fixed="MC/FTA/FTAT"/>
                                          <xs:attribute name="linking_follows" type="xs:string" use="optional" fixed="DO/FTA/FTAK"/>
                                          <xs:attribute name="linking_followsAsChild" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional" fixed="DOCUMENTAZIONE FOTOGRAFICA"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="DOCUMENTAZIONE"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AD" id="paragrafo_AD" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="ADS" id="campostrutturato_AD_ADS" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="ADSP" id="camposemplice_AD_ADS_ADSP" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Profilo di accesso"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,1"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_ADS_4.00"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$1"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="ADSM" id="camposemplice_AD_ADS_ADSM" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Motivazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="binding_thesId" type="xs:string" use="optional" fixed="VC_ADS_4.00"/>
                                          <xs:attribute name="binding_levelExpr" type="xs:string" use="optional" fixed="$2"/>
                                          <xs:attribute name="binding_parentExpr" type="xs:string" use="optional" fixed="AD/ADS/ADSP"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional"
                                         fixed="SPECIFICHE DI ACCESSO AI DATI"/>
                           <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="ACCESSO AI DATI"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="CM" id="paragrafo_CM" minOccurs="1" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="CMP" id="campostrutturato_CM_CMP" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="CMPD" id="camposemplice_CM_CMP_CMPD" minOccurs="1" maxOccurs="1">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional" fixed="Anno di redazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,4"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                          <xs:attribute name="regularExpr_pattern" type="xs:string" use="optional" fixed="([0-9]{4})"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="CMPN" id="camposemplice_CM_CMP_CMPN" minOccurs="1" maxOccurs="unbounded">
                                 <xs:complexType>
                                    <xs:simpleContent>
                                       <xs:extension base="xs:string">
                                          <xs:attribute name="alias" type="xs:string" use="optional"
                                                        fixed="Responsabile ricerca e redazione"/>
                                          <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                          <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                          <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                          <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                                       </xs:extension>
                                    </xs:simpleContent>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                           <xs:attribute name="alias" type="xs:string" use="optional"
                                         fixed="REDAZIONE E VERIFICA SCIENTIFICA"/>
                           <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                           <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="RSR" id="camposemplice_CF_CM_RSR" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional"
                                               fixed="Referente verifica scientifica"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="FUR" id="camposemplice_CF_CM_FUR" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Funzionario responsabile"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,250"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional"
                                fixed="CERTIFICAZIONE E GESTIONE DEI DATI"/>
                  <xs:attribute name="node_linkMandatory" type="xs:string" use="optional" fixed="true"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
            <xs:element name="AN" id="paragrafo_AN" minOccurs="0" maxOccurs="1">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="OSS" id="camposemplice_CF_AN_OSS" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute name="alias" type="xs:string" use="optional" fixed="Osservazioni"/>
                                 <xs:attribute name="len" type="xs:string" use="optional" fixed="0,5000"/>
                                 <xs:attribute name="node_visibility" type="xs:string" use="optional" fixed="1"/>
                                 <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
                  <xs:attribute name="alias" type="xs:string" use="optional" fixed="ANNOTAZIONI"/>
                  <xs:attribute name="hiddenInView" type="xs:string" use="optional" fixed="false"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
<!--normativa#CF#4.00#ICCD0#Contenitori fisici#4#null#false#false#AD/ADS/ADSP#null#null#false-->